@using Microsoft.Extensions.Options
@using ProgrammersBlog.Entities.Concrete
@inject IOptionsSnapshot<WebsiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@websiteInfo.SeoDescription">
    <meta name="author" content="@websiteInfo.SeoAuthor">
    <meta name="keywords" content="@websiteInfo.SeoTags"/>

    <title>@ViewBag.Title | @websiteInfo.Title</title>

    <!-- Bootstrap core CSS -->
   @await RenderSectionAsync("Styles",false);
    @await Html.PartialAsync("_LayoutCssPartial")

</head>

<body>

    <!-- Navigation -->
<partial name="_MainMenuPartial" />

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            @RenderBody()

            <!-- Sidebar Widgets Column -->
            @await Component.InvokeAsync("RightSideBar")

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Tüm Hakları Saklıdır &copy; ProgrammersBlog 2021</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   <!-- Bootstrap core JavaScript -->
     @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("Scripts",false)
</body>

</html>
